@{
}

@model CatalogItem

<h3>Новий продукт</h3>
<form method="post" action="create" class="form-group">
	<label class="control-label">Назва продукту</label>
	<input type="text" class="form-control input-lg" name="name"/>
	<button type="submit" class="btn btn-primary">Зберегти</button>
</form>